.login-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  margin: auto;
  margin-top: 25vh;
  transform: translateY(-15vh);
  width: 50vw;
}

.logo-image{
  margin-top: -55px;
  margin-bottom: 15px;
}

.input-user {
  margin: 5px;
}

.login-btn {
  position: relative;
  background-color: var(--background-base,#1ed760);
  color: var(--text-base,#000000);
  border-radius: 500px;
  font-size: inherit;
  padding: 4px 12px;
}

.login-btn:hover {
  cursor: pointer;
  padding: 6px 14px;
}